.navbar {
  background-color: #fef9ea;
}

.navbar-brand {
  font-size: 34px;
  font-weight: bold;
  color: #ab8262;
}

.nav-link {
  color: #03bb85;
  margin-right: 40px;
  font-weight: bold;
}

.nav-link:hover {
  color: #ab82624b;
  text-decoration: none;
}